body {
    font-family: sans-serif;
}

#navbar {
    padding: 0.3em 0em;
    background: steelblue;
    color: white;
}

#navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#navbar ul li { display: inline; }
#navbar ul li a {
    text-decoration: none;
    padding: .2em 1em;
}

#navbar a:link { color: white; }
#navbar a:visited { color: white; }
#navbar a:hover { background: black; }

.platform {
    margin: 1em 1em 0em 0em;
    padding: 0;
    border: 2px solid steelblue;
}

.platform h3 {
    margin: 0em 0em 1em 0em;
    color: white;
    padding: 0.2em;
    background: steelblue;
    font-weight: normal;
}

.platbody {
    margin: 1em;
}
